<div class="vis-option-item">
  <label>
    <input type="checkbox" ng-model="vis.params.showLegend">
      Show Legend
  </label>
</div>
<div class="vis-option-item">
  <label>
    <input type="checkbox" ng-model="vis.params.showTooltip">
      Show Tooltip
  </label>
</div>

<div class="form-group">
  <label>Color type</label>
    <select name="colorType"
    class="form-control"
    ng-model="vis.params.colorType"
    ng-init="vis.params.colorType || vis.type.params.colorTypes[0]"
    ng-options="colorType as colorType for colorType in vis.type.params.colorTypes"
    >
  </select>
</div>